/* * {
    color: blue;
} */

.error {
    color: rgba(250, 15, 15, 0.705);
}

.success {
    color: green;
}

#test {
    color: maroon;
}

.orange {
    background-color: orange;
    text-align: center;
    line-height: 2;
    letter-spacing: 4px;
    word-spacing: 20px;
}

.yellow {
    background-color: yellow;
}

.font-styles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 50px;
}

ul {
    list-style-type: square;
}