/* * {
    color: blue;
} */

.error {
    color: rgba(250, 15, 15, 0.705);
}

.success {
    color: green;
}

#test {
    color: maroon;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}